<div class="center jumbotron">

  <h1>Past records</h1>

  <div>
    <%= form_with(url: static_pages_past_path, method: :get) do |f| %>
      <p>日付を選択してください</p>
      <%= f.date_field :date, class: 'form-control' %>
      <%= f.submit "確認", class: "btn custom-btn" %>
    <% end %>
  <div>

  <div class="user-back">
   <table class="table table-primary user-tbl">
      <tbody>
          <tr>
            <td><%= @date %></td>
            <td><%= weight %></td>
            <td><%= record %></td>
          </tr>
      </tbody>
    </table>
  </div>

</div>
