<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session) do |f| %>

      <%= f.label :"E-mail address" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :"Password" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン状態を保持</span>
      <% end %>

      <%= f.submit "Log in", class: "btn custom-btn" %>
    <% end %>

    <p>アカウントをお持ちでないですか? <%= link_to "Sign up", signup_path %></p>
  </div>
</div>
