<% provide(:title, @user.name) %>
<div class="center jumbotron">

    <section class="user_info">
      <h1>User Information</h1>
      
      <div class="user-back">
        <table class="table table-primary text-center user-tbl">
          <body>
            <tr>
              <td>名前</td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>身長</td>
              <td><%= @user.height %>cm</td>
            </tr>
            <tr>
              <td>体重</td>
              <td><%= @user.weight %>kg</td>
            </tr>
            <tr>
              <td>性別</td>
              <td><%= sex %></td>
            </tr>
            <tr>
              <td>年齢</td>
              <td><%= @user.age %>歳</td>
            </tr>
            <tr>
              <td>目的</td>
              <td><%= purpose %></td>
            </tr>
            <tr>
              <td>目標体重</td>
              <td><%= @user.goal_weight %>kg</td>
            </tr>
            <tr>
              <td>活動レベル</td>
              <td><%= activity_level %></td>
            </tr>
          </body>
        </table>
        </div>
    </section>

</div>
