<% provide(:title, 'Create food') %>
<h1>Create food</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @food, url: user_foods_path) do |f| %>
    <!--url: user_foods_path-->
        <%= render 'shared/error_messages' %>
    
        <%= f.label :"名前" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :"カロリー (kcal)" %>
        <%= f.number_field :calorie, step: "0.1", class: 'form-control' %>

        <%= f.label :"タンパク質 (g)" %>
        <%= f.number_field :protain, step: "0.1", class: 'form-control' %>

        <%= f.label :"脂質 (g)" %>
        <%= f.number_field :fat, step: "0.1", class: 'form-control' %>

        <%= f.label :"炭水化物 (g)" %>
        <%= f.number_field :carbo, step: "0.1", class: 'form-control' %>

        <%= f.submit "作成", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
