<% provide(:title, 'Record') %>
<h1>Record</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @daily_record, url: user_daily_records_path) do |f| %>
    <!--url: user_daily_records_path-->
        <%= render 'shared/error_messages' %>
    
        <%= f.label :"体重" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :"カロリー (kcal)" %>
        <%= f.number_field :calorie, class: 'form-control' %>

        <%= f.label :"タンパク質合計 (g)" %>
        <%= f.number_field :protain, class: 'form-control' %>

        <%= f.label :"脂質合計 (g)" %>
        <%= f.number_field :fat, class: 'form-control' %>

        <%= f.label :"炭水化物合計 (g)" %>
        <%= f.number_field :carbo, class: 'form-control' %>

        <%= f.submit "作成", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
