<% provide(:title, 'Record weight') %>
<h1>Record weight</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @daily_weight, url: user_daily_weights_path) do |f| %>
    <!--url: user_foods_path-->
        <%= render 'shared/error_messages' %>
    
        <%= f.label :"体重 (kg)" %>
        <%= f.number_field :daily_weight, step: "0.1", class: 'form-control' %>

        <%= f.label :"日付" %>
        <%= f.date_field :date, class: 'form-control' %>

        <%= f.submit "記録", class: "btn custom-btn" %>
    <% end %>
  </div>
</div>
